@import "../../../Style/Mixins";

.chartContainer {
  margin: 0 auto;
  max-width: 1400px;
  @include fluid(margin-bottom, 70px, 170px);
  @include neumorphism;
  @include fluid(padding-bottom, 20px, 40px);
  @include fluid(padding-top, 20px, 40px);
  @include fluid(padding-left, 45px, 85px);
  @include fluid(padding-right, 45px, 85px);
}
.number {
  @include fluid(font-size, 28px, 32px);
  @include fluid(margin-bottom, 8px, 10px);
  font-weight: 500;
  line-height: 145%;
}
.subtitle {
  @include fluid(font-size, 28px, 32px);
  line-height: 150%;
  font-family: "Days One", sans-serif;
  font-weight: 600;
  span {
    color: #2f69ff;
  }
}
@media screen and (max-width: 768px) {
  .chartContainer {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .chartContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
