@import "src/Style/Mixins";

.subtitle {
  width: fit-content;
  @include fluid(font-size, 18px, 24px);
  font-family: "Days One Regular";
  @include fluid(margin-top,10px,15px);
  @include fluid(margin-bottom, 15px, 20px);
  position: relative;
}
.arrow {
  &::before {
    content: "";
    background: url("../../../Images/arrow.svg") no-repeat;
    @include fluid(width, 6px, 12px);
    @include fluid(height, 6px, 12px);
    background-size: contain;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -10%;
    transition: 0.38s ease-in-out;
  }
  &:hover {
    &::before {
      right: -12%;
    }
  }
}
