@import "../../../Style/Mixins.scss";

.entance{
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
  min-height:100vh ;
}
.modal{
  display: flex;
  flex-direction: column;
  align-items:center ;
  justify-content: center;
}
.input{
  @include fluid(margin,10px,15px);
}
.button{
  @include fluid(margin,10px,15px);
}
.tabs{
  @include  fluid( padding, 20px,45px);
  background: rgba(91, 91, 91, 0.2);
  border-radius: 15px;
}
.tabsItem{
  marker: none;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  @include  fluid(pudding,10px,15px);
  border-radius: 15px;
  width: 75%;
  justify-content: space-between;
}
.tabsText{
  marker: none;
  background: #2D2D2D;
  border-radius: 15px;
  @include  fluid(margin-right,10px,20px);
  @include  fluid(margin,5px,10px);
  @include  fluid(padding,10px,15px);
  list-style-type: none;
  &:last-child{
    margin-right: 0;
  }
}