@import "../../../Style/Mixins.scss";

.container {
  @include fluid(margin-bottom, 30px, 60px);
  position: relative;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.item {
  @include fluid(padding, 3px, 6px);
  border: 1px solid #2f69ff;
  border-radius: 13px;
  @include fluid(width, 145px, 182px);
  @include fluid(height, 145px, 182px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.38s ease-in-out;
  &:hover {
    margin-top: -5px;
    .inner {
      box-shadow: 0px 5px 12px 8px rgba(175, 175, 175, 0.25);
    }
  }
}
.provider {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
  top: 10px;
}
.inner {
  transition: 0.38s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  @include fluid(padding, 10px, 20px);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 12px 8px rgba(175, 175, 175, 0);
  width: 100%;
  height: 100%;
  img {
    position: absolute;
    object-fit: cover;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  p {
    @include fluid(font-size, 12px, 14px);
  }
}

// .bullet {
//     border: 1px solid #6d6d6d;
//     background: #6d6d6d;
// }
.block {
  position: relative;
}

.navigation {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 10px;
}
@media screen and(max-width:992px) {
  .item {
    width: 115px;
    height: 115px;
  }
}
