@import "../../../Style/Mixins.scss";
.flex {
  display: flex;
  justify-content: space-between;
  @include fluid(padding-top, 20px, 40px);
  @include fluid(margin-bottom, 30px, 60px);
}
.item {
  width: 45%;
}
.title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 15px;
  transition: 0.38s ease-in-out;
}
.subtitle {
  font-family: "Cera Pro";
  font-size: 12px;
  color: #fff;
  margin-bottom: 15px;
  transition: 0.38s ease-in-out;
}
.content {
  background: rgba(91, 91, 91, 0.2);
  border: 1px solid #545454;
  backdrop-filter: blur(100px);
  border-radius: 15px;
  @include fluid(padding, 20px, 40px);
}
.line {
  @include fluid(margin-bottom, 10px, 20px);
}
.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  transition: 0.38s ease-in-out;
  cursor: pointer;
  @include fluid(padding-top, 3px, 5px);
  @include fluid(padding-bottom, 3px, 5px);
  @include fluid(padding-left, 3px, 7px);
  position: relative;
  &:hover {
    &:before {
      width: 100%;
    }
  }
  &:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 0;
    background: linear-gradient(
      90deg,
      rgba(45, 45, 45, 0.8) 0%,
      rgba(45, 45, 45, 0) 100%
    );
    height: 100%;
    transition: 0.38s ease-in-out;
    z-index: -1;
    border-radius: 15px;
  }
}
.labelText {
  @include fluid(font-size, 12px, 16px);
  font-weight: 500;
  color: #fff;
  transition: 0.38s ease-in-out;
}
.labelItem {
  display: flex;
  align-items: center;
  border-radius: 76px;
  width: 80%;
  padding: 5px;
  transition: 0.38s ease-in-out;
}
.input {
  display: none;
}
.labelCheck {
  display: block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.38s ease-in-out;
  background: #808080;
  margin-right: 30px;
  box-shadow: 0px 0px 0px 3px rgba(158, 158, 158, 0.3);
}
.check {
  background: linear-gradient(122.76deg, #40ffe8 0%, #d5ff2f 92.55%);
  box-shadow: 0px 0px 0px 3px rgba(213, 255, 47, 0.3);
}
.labelImg {
  @include fluid(width, 22px, 33px);
  @include fluid(height, 22px, 33px);
  object-fit: contain;
  margin-right: 20px;
}
.linkItem {
  text-decoration: underline !important;
  color: #bdbdbd !important;
  @include fluid(font-size, 12px, 14px);
  @include fluid(margin-right, 15px, 30px);
  transition: 0.38s ease-in-out;
  &:hover {
    color: $green !important;
  }
}
.link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.mailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.mailContent {
  margin-left: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  background: linear-gradient(122.76deg, #2f69ff 0%, #00c0a9 92.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  background: linear-gradient(122.76deg, #ff6969 0%, #ff3e3e 92.55%);
  background-size: 100% 100%;
  border-radius: 8px;
  color: #fff;
  margin-top: 20px;
  width: 50%;
  text-align: center;
  display: block;
  @include fluid(padding-top, 10px, 20px);
  @include fluid(padding-bottom, 10px, 20px);
  opacity: 0.9;
  transition: 0.38s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
@media screen and(max-width:768px){
  .flex{
    flex-direction:column;
  }
  .item{
    width:100%;
    margin-bottom:30px;
  }
}