@import "../../../Style/Mixins";

.container {
  @include container;
  @include fluid(padding-bottom, 50px, 150px);
}
.flex {
  display: flex;
  justify-content: space-between;
}
.wrapper {
  width: 46%;
  position: relative;
  @include fluid(margin-top, 20px, 35px);
}
.block {
  background: rgba(188, 47, 255, 0.5);
  border-radius: 45px;
  @include fluid(padding-top, 25px, 50px);
  @include fluid(padding-bottom, 25px, 50px);
  @include fluid(padding-left, 30px, 60px);
  @include fluid(padding-right, 30px, 60px);
  @include fluid(min-height, 175px, 275px);
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  align-items: center;
  @include fluid(margin-bottom, 15px, 25px);
}
.title {
  font-weight: 700;
  @include fluid(font-size, 18px, 24px);
}
.text {
  flex-grow: 1;
  @include fluid(font-size, 14px, 18px);
}
.img {
  @include fluid(height, 40px, 52px);
  @include fluid(width, 40px, 52px);
  border-radius: 50%;
  background: rgba(188, 47, 255, 1);
  @include fluid(margin-right, 8px, 12px);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    object-fit: contain;
    @include fluid(width, 20px, 25px);
    @include fluid(height, 20px, 25px);
  }
}
.animate {
  background: url("../../../Images/content/security.svg") no-repeat;
  background-size: contain;
  width: 469px;
  height: 509px;
  position: relative;
}
.animateImg {
  position: absolute;
  left: 42%;
  top: 22%;
  transform: translate(-50%, -50%);
}
.navigation {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}
.subtitle {
  @include fluid(font-size, 28px, 32px);
  line-height: 150%;
  font-family: "Days One", sans-serif;
  font-weight: 600;
  width: 30%;
  @include fluid(margin-right, 35px, 70px);
  span {
    color: #2f69ff;
  }
}

@media screen and (max-width: 992px) {
  .subtitle {
    width: 100% !important;
  }
  .flex {
    flex-direction: column;
  }
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .conatiner {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .animate {
    width: 320px;
  }
  .animateImg {
    left: 38%;
    top: 15%;
  }
}
